<div class="container">
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="./assets/patient1.jpg" alt="Random first slide" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="./assets/patient2.jpg" alt="Random second slide" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="./assets/patient3.jpg" alt="Random third slide" style="width: 100%;">
    </ng-template>
  </ngb-carousel>

  <br>
  <!--Show all doctors-->
  <app-doctors></app-doctors>
  <br>

  <!--Show All departments-->
  <app-departments></app-departments>