<h1 class="text-center">
    <strong>ABOUT US</strong>
</h1>
<hr>
<div class="col-sm-2 pb-xs-30">
    <img src="./assets/vision.png" alt="VALUES" style="width:100%;" class="full-left">
</div>
<h1>VISION</h1>
<p>To become the health care leader in Khyber Pakhtunkhwa and provide world-class medical care, education and research.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="col-sm-2 pb-xs-30">
    <img src="./assets/mission.png" alt="VALUES" style="width:100%;" class="full-left">
</div>
<h1>MISSION</h1>
<p>Mardan Clinic aims to deliver a comprehensive range of preventive, curative, rehabilitative, emergency and educational health
    services with compassion to the people in KPK, through its healthcare facilities and services with a view to raising
    the long-term health status of community. </p>
<br>
<br>
<br>
<br>
<div class="col-sm-2 pb-xs-30">
    <img src="./assets/value.png" alt="VALUES" style="width:100%;" class="full-left">
</div>
<h1>OUR VALUES</h1>
<P>The ideals we live by....Human Dignity,Compassion,Accountability,Community of Service</P>
<h4>Human Dignity:</h4>
<p>We value each person as a unique individual with a right to be respected and accepted.</p>
<h4>Compassion:</h4>
<p>We value a quality of presence and caring that accepts people as they are and fosters healing and wholeness.</p>
<h4>Accountability:</h4>
<p>We strive to provide high quality healthcare to patients. We use publicly funded resources efficiently and effectively.</p>
<h4>Community of Service:</h4>
<p>value a work environment of mutual trust and harmony to enable healing, collaboration and the fulfillment of human potential.</p>
<h4>Quality of Life:</h4>
<p>Demonstrate courtesy, compassion and respect for others regardless of diverse backgrounds and lifestyles.</p>
<h4>Teamwork:</h4>
<p>Recognize and acknowledge the different achievements of other team members. Participate in teamwork to develop high quality
    solutions. Recognize that supporting the team’s decision is more important than individual preference.</p>