<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div *ngIf="loading" style="padding: 40px;">
    <img style="float:inherit" src='/assets/loading.gif' />
</div>

<div class="container" style="width: 100% !important; margin-top: 30px;" *ngIf="doctors && doctors.length > 0">
    <p>
        <input type="text" class="form-control" #query (keyup)="filter(query.value)" placeholder="Search...">
    </p>
    <div class="row" *ngIf="!addNewDoctor && !update">
        <div class="col-sm-6">
            <h3> Doctor List</h3>
        </div>

        <div class="col-sm-6" *ngIf="selected">
            <button class="btn btn-danger" (click)="open(content)">Delete</button>
            <button class="btn btn-primary" (click)="addDoctor()">Add new doctor</button>
            <button class="btn btn-primary" (click)="updateDoctor()">Modify Doctor Record</button>
        </div>
    </div>

    <div class="row" *ngIf="!addNewDoctor && !update">
        <div class="col-sm-12">

            <table class="table" style="width: 100%; margin-top: 10px;">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>Contact No</th>
                        <th>Department</th>
                        <th>Experience</th>
                        <th>Address</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let doctor of filteredDoctors; let i = index" (click)="getSingle(doctor, i)" style="cursor: pointer;" [class.selected]="doctor.selected">

                        <td>
                            <img src="/assets/images/{{doctor.picture}}" class="avatar">
                        </td>
                        <td>{{ doctor.name }}</td>
                        <td>{{ doctor.email }}</td>
                        <td>{{ doctor.age }}</td>
                        <td>{{ doctor.mob_number }}</td>
                        <td>{{ doctor.department }}</td>
                        <td>{{ doctor.experience }} Years</td>
                        <td>{{ doctor.address }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf="doctors && doctors.length == 0" style="margin-top: 30px;">
    <div class="alert alert-danger">There is no doctor yet</div>
    <doctor-sign-up></doctor-sign-up>
</div>

<div *ngIf="addNewDoctor">
    <doctor-sign-up></doctor-sign-up>
</div>

<div *ngIf="update">
    <doctor-sign-up></doctor-sign-up>
</div>

<!-- Template for deleting record Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirm Delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>Are your sure to delete the Doctor record?</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" (click)="delete()">Yes</button>
        <button class="btn" (click)="c('Save click')">Cancel</button>
    </div>
</ng-template>